.image1{
    transition: 300ms;
}
.lbutton{
    transition: 300ms;
}
.image1:hover{
    transform: scale(1.3);
}
.image2{
    transition: 300ms;
}
.image2:hover{
    transform: scale(1.3);
}
.image3{
    transition: 300ms;
}
.image3:hover{
    transform: scale(1.3);
}
.image4{
    transition: 300ms;
}
.image4:hover{
    transform: scale(1.3);
}
.lbutton:hover{
    transform: scale(1.2);

}
